
<!DOCTYPE html>
<html>


<head>
<title>Mobile Sales Locator</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

</head>

<body>
 <a href="http://maliyetu.herokuapp.com/polls/">Home</a>
 
<h3> Welcome to the Sales Geolocator </h3>
<p style="color:blue;margin-left:20px;" >a). Enter Sales Message : <a href="http://maliyetu.herokuapp.com/polls/geo">Data Entry</a></p>
<p style="color:blue;margin-left:20px;" >b). View Field Data: <a href="http://maliyetu.herokuapp.com//polls/kenn">Datasets</a></p>
<p style="color:blue;margin-left:20px;">c). Examples of Reports : <a href="http://maliyetu.herokuapp.com//equality">Charts Reports</a></p>
<p style="color:blue;margin-left:20px;">d). Google Map Reports : <a href="https://www.google.com/maps/search/google/@20.0625,79.677068,4z/data=!3m1!4b1">Maps</a></p>
</body>
</html>
