<html>
    <head><title>I can has cheetah templates!</title></head>
    <body>
    #for $post in $latest_poll_lists
    <div class="blogpost">
        
        <p>$post.question</p>
    </div>
    #end for
    </body>
</html>



<--<html>
    <head><title>I can has cheetah templates!</title></head>
    <body>
	<h1 align="center"> $latest_poll_list[3].pub_date </h1>
    #for $post in $latest_poll_list
    <table border = "1" cellspacing = "5">
	<tr> <td>$post.id</td> <td>$post.question</td><td>$post.pub_date</td> </tr>
        
      
    </table>
    #end for
    </body>
</html> 


<html>
    <head><title>I can has cheetah templates!</title></head>
    <body>
	<h1 align="center"> $latest_poll_list[3].boston_temp </h1>
    #for $post in $latest_poll_list
    <table border = "1" cellspacing = "5">
	<tr> <td>$post.id</td> <td>$post.month</td><td>$post.boston_temp</td> </tr>   
    </table>
    #end for
	
	<h1 align="center"> $latest_poll_list1[3].pub_date </h1>
    #for $post in $latest_poll_list1
    <table border = "1" cellspacing = "5">
	<tr> <td>$post.id</td> <td>$post.question</td><td>$post.pub_date</td> </tr>
        
      
    </table>
    #end for
	
    </body>
</html>
