<!DOCTYPE html>
<html>

<head>
<title>Dataset</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>


</head>

<body>
<a href="http://maliyetu.herokuapp.com/polls/">Home</a> 
<p style="color:blue;margin-left:20px;">Geolocation Report from MOBILE FIELD VISIT</p>


{% if ken_list %}

 <table style="width:1200px"; BORDER=10 BORDERCOLOR=OLIVE>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th>Longitude</th>
	<th>Latitude</th>
   	<th>Accuracy</th>
	<th>Time</th>
    
  </tr>
    {% for poll in ken_list %}
    <tr> <td>{{ poll.user }}</td><td>{{ poll.content }}</td><td>{{ poll.Longitude }}</td><td>{{ poll.Latitude }}</td> <td>{{ poll.Accuracy}}</td> <td>{{poll.time }}</td>
    {% endfor %}
  </table>
{% else %}
    <p>No polls are available.</p>
	
{% endif %}


<p style="color:blue;margin-left:20px;">twitter: @arapmenet</p>

</body>
</html>