<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
       
       
        # load chartit 
        $ rainpivchart|load_charts:"cht,cht1,vcht"
    </head>

</html>


<body>
   
	<div id='cht'> Chart will be rendered here 2</div>
	<div id='cht1'> Chart will be rendered here 1</div>
	<div id='vcht'> Chart will be rendered here 2</div>
	
	

	
</body>
