<head>

<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<!-- start: two new lines for highcharts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}highcharts/js/highcharts.js" type="text/javascript"></script>
<!-- end: two new lines for highcharts -->

    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ weatherchart|load_charts:"container" }}
</head>
<body>
    <div id='container'> Chart will be rendered here </div>
</body>



<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {%  load staticfiles %}
        <script src="{% static "js/jquery/jquery-1.11.0.js"%}" type="text/javascript"></script>
        
		<script src="{{ STATIC_URL }}js/highcharts/js/highcharts.js" type="text/javascript"></script>
        {% load chartit %}
        
    </head>
    <body>
        <div id='container'> {{ context }}</div>
    </body>
</html>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {%  load staticfiles %}
        <script src="{% static "js/jquery/jquery-1.11.0.js" %}" type="text/javascript"></script>
        
		<script src="{% static "js/highcharts/js/highcharts.js" %}" type="text/javascript"></script>
        {% load chartit %}
		{{ weatherchart|load_charts:"cht" }}
        
    </head>
    <body>
        <div id='context'> cht  </div>
    </body>
</html>